$P1: #10002b;
$P2: #240046;
$P3: #3c096c;
$P4: #5a189a;
$P5: #7b2cbf;
$P6: #9d4edd;
$P7: #c77dff;
$P8: #e0aaff;

//Highlight Color

$O: rgb(255, 92, 85);

//Gradient

$PGrad1: linear-gradient(
  180deg,
  rgba(162, 0, 255, 0.2) 0%,
  rgba(101, 50, 131, 0) 85.22%
);
