@import '../styleVar/colorPalette.scss';

.card-container{
    margin: 5% 0% 0% 5%;
    width: 20%;
    background: #FFFFFF;
    /* Shadow 2 */  
    box-shadow: -8px 5px 60px rgba(0, 0, 0, 0.2);
    padding: 30px;
    display: inline-block;
}

.card-title{
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    line-height: 34px;
    display: flex;
    align-items: center;

    /* Black */

    color: #000000;
}