@import "../styleVar/colorPalette.scss";
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap");

.DocumentDownloader {
  display: flex;
  flex-direction: column;
  font-family: "Poppins";

  .DocumentManager-title {
    text-align: center;
    margin-top: 20px;

    .DocumentManager-title-main {
      color: $O;
    }
    .DocumentManager-title-sub {
      color: $P6;
    }
    h1,
    h2 {
      display: inline;
    }
  }

  .DocumentSearch {
    width: 100%;
    //background-color: #746e6e;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .DocumentSearch-fullBar {
      width: 100%;
      position: relative;
      display: flex;
      justify-content: center;
      margin-top: 100px;
      .DocumentSearch-searchbar {
        border: 1px solid #746e6e;
        border-radius: 15px;
        height: 40px;
        width: 50%;
        padding: 5px;
        background-color: #f5f5f5;
        font-family: poppins;
        color: black;
        font-size: 15px;
        margin: 10px;
        outline: 0;
        &:hover {
          border: 1px solid $P6;
          background-color: white;
        }
      }
      .DocumentSearch-searchbutton {
        width: 10%;
        height: 40px;
        padding: 12px 20px;
        margin: 8px 0;
        display: inline-block;
        border: none;
        background-color: $P6;
        color: white;
        border-radius: 4px;
        box-sizing: border-box;
        font-family: poppins;
        font-size: 15px;
        border-radius: 15px;
        display: flex;
        align-items: center;
        justify-content: center;

        &:hover {
          cursor: pointer;
          background-color: $P4;
        }
      }
    }
    .SeatchResult {
      //background-color: aquamarine;
      height: 50vh;
      margin-top: 20px;
      .SearchResult-table {
        width: 100%;
        //background-color: darkorange;
        border-spacing: 15px;
        margin: 0;
        font-size: 15px;
        .SearchResult-table-caption {
          font-size: large;
          text-align: left;
          margin-bottom: 10px;
          padding-left: 10px;
        }

        thead {
          th {
            text-align: left;
            padding: 0 10px 0 10px;
            color: $O;
          }
          .SearchResult-table-headers {
            outline: none;
          }
        }
        tbody {
          td {
            padding: 20px 10px;
          }
          tr {
            outline: 1px solid #746e6e;
            border-radius: 5px;
          }
        }
      }
    }
  }
  .RecentDownload {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    //background-color: #746e6e;
    .RecentDownload-table {
      width: 75%;
      //background-color: darkorange;
      border-spacing: 15px;
      margin: 0;
      font-size: 15px;
      .RecentDownload-table-caption {
        font-size: large;
        text-align: left;
        margin-bottom: 10px;
        padding-left: 10px;
      }

      thead {
        th {
          text-align: left;
          padding: 0 10px 0 10px;
          color: $O;
        }
        .RecentDownload-table-headers {
          outline: none;
        }
      }
      tbody {
        td {
          padding: 20px 10px;
        }
        tr {
          outline: 1px solid #746e6e;
          border-radius: 5px;
        }
      }
    }
  }
}
