.DocumentSearch {
  width: 100%;
  position: relative;
  display: flex;
  .searchbar {
    width: 50%;
    border: 2px solid #746e6e;
    border-right: none;
    padding: 5px;
    height: 35px;
    border-radius: 15px;

    color: black;
    margin: 10px;
  }
  .searchbutton {
    margin: 5px;
    padding: 5px;
    background-color: #9d4edd;
    width: 149px;
    height: 44px;
    border-radius: 15px;
  }
}
