@import "../styleVar/colorPalette.scss";
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap");

::-webkit-scrollbar {
  width: 7px;
}

::-webkit-scrollbar-track {
  background: #59189a81;
}

::-webkit-scrollbar-thumb {
  background: #59189a;
  border-radius: 30px;
}

/* Handle on hover */
// ::-webkit-scrollbar-thumb:hover {
//   background: $P3;
// }

.nav {
  width: 100%;
  background-color: $P3;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: rgb(252, 247, 255);
  padding: 50px;
  * a {
    color: inherit;
    text-decoration: none;
  }
}

.lechall-container {
  padding: 50px 0 100px 0;
  font-family: "Poppins", sans-serif;
}

.page-title {
  width: 80%;
  margin: auto;
  margin-bottom: 50px;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  color: $O;
}

.filter {
  height: 80px;
  display: flex;
  justify-content: left;
  align-items: center;
  color: $P5;

  .select {
    width: 200px;
    font-weight: 600;
    font-size: 14px;
  }

  .css-1s2u09g-control,
  .css-1pahdxg-control {
    box-shadow: none;
    border: solid $P6 2px;
    border-radius: 30px;
    &:hover {
      border: solid $P6 2px;
    }
  }

  .css-14el2xx-placeholder,
  .css-tlfecz-indicatorContainer,
  .css-qc6sy-singleValue {
    padding-left: 10px;
    color: $P6;
  }
}

.table-container {
  width: 80%;
  margin: auto;
  display: flex;
  flex-direction: column;
}

.hall-details {
  border-collapse: collapse;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
  border-bottom: #535353 1px solid;
  // border-width: 95%;

  tbody {
    display: block;
    height: 400px;
    overflow: auto;
    color: #2c2c2c;
    tr:nth-child(even) {
      background-color: #e9e9e9;
    }
  }

  .details-table {
    border-collapse: collapse;
    width: 80%;
    margin: auto;
    tbody {
      height: auto;
    }
  }

  // tr:not(.hidden):nth-of-type(even) {
  //   background-color: #f1f1f1;
  // }

  tr {
    height: 3em;
    text-align: center;
    display: table;
    width: 100%;
    table-layout: fixed;

    th {
      color: #5f5f5f;
      border-bottom: solid grey 1px;
      font-weight: 500;
    }

    td {
      border-bottom: solid grey 1px;
      // border-width: 95%;
      color: grey;
      font-weight: 400;
    }
  }
}

.timetable {
  border-collapse: collapse;
  width: 100%;
  margin: auto;
  display: table;
  font-size: 0.9em;
  tr {
    border-bottom: 1px solid grey;

    text-align: center;
    th {
      font-weight: 500;
    }
  }
  tbody {
    td {
      height: 30px;
      &:nth-child(1) {
        // background-color: rgb(95, 1, 150);
        border-left: 1px solid grey;
      }
      border-right: 1px solid grey;
    }
  }
}

.date {
  margin-bottom: 30px;
  font-size: 18px;
  color: #949494;
  font-weight: 500;

  i,
  h4 {
    display: inline;
  }
}

.book-button {
  padding-top: 10px;
  cursor: pointer;
  margin: 10px;
  height: 40px;
  padding: 5px 20px 5px 20px;
  background: none;
  border: solid $P5 2px;
  border-radius: 10px;
  color: $P5;
  font-weight: 600;

  &:hover {
    background-color: $P5;
    color: white;
  }

  &:active {
    background-color: $P4;
    color: white;
  }
}

.expand-button {
  margin: 10px;
  height: 30px;
  padding: 5px 20px 5px 20px;
  background: none;
  // border: solid $P5 2px;
  border-radius: 5px;
  color: $P5;
  font-weight: 600;
  // unique
  border: none;
  color: inherit;
  padding: none;
  border-radius: 50px;

  &:hover {
    // background-color: $P5;
    color: white;
    //unique
    background-color: #5353531a;
    color: #535353;
  }

  &:active {
    background-color: $P4;
    color: white;
  }
}

.info-button {
  margin: 10px;
  height: 30px;
  padding: 5px 20px 5px 20px;
  background: none;

  color: $P5;
  font-weight: 600;

  &:hover {
    background-color: $P5;
    color: white;
  }

  &:active {
    background-color: $P4;
    color: white;
  }
  // unique
  font-size: 15px;
  border: none;
  display: inline-block;
  &:hover {
    background: none;
    color: $P5;
    cursor: pointer;
  }
  &:active {
    color: $P6;
  }
}

.date-arrow {
  color: rgb(82, 82, 82);
  border: none;
  background-color: transparent;
  padding: 5px;
  &:active {
    background-color: none;
    color: black;
  }
  &:disabled {
    color: rgb(165, 165, 165);
  }
}

.popup {
  margin: 30px;
}

@media only screen and (min-width: 950px) {
  .hidden {
    display: none !important;
  }
}

@media only screen and (max-width: 950px) {
  .hide {
    display: none;
  }

  .page-title {
    font-size: 30px;
  }
}
