@import "../styleVar/colorPalette.scss";
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap");

.schedule {
  font-weight: 300;
  color: grey;
  width: 80%;
  margin: auto;
  padding: 20px 50px 50px 50px;

  text-align: center;
}

.colorcode {
  text-align: center;
  display: flex;
  justify-content: center;
  p {
    margin-right: 20px;
  }
}

.cell {
  &:hover {
    cursor: pointer;
  }
}

.booking-details {
  width: 500px;
  margin: auto;
  padding: 30px;
  border-radius: 20px;

  background-color: #ebdcf8;

  h3 {
    text-align: center;
    color: rgb(113, 113, 113);
    margin-bottom: 30px;
  }
  p {
    color: rgb(96, 96, 96);
    font-family: "Foco", sans-serif;
    padding-bottom: 15px;

    hr {
      margin-top: 10px;
    }
  }
  .details {
    span {
      display: inline-block;
      width: 40%;
      margin-left: 10%;
    }
    width: 95%;
    margin: auto;
  }
}

.booking-buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-direction: row;
  justify-content: center;

  button {
    width: 200px;
    height: 40px;
  }

  .change {
    &:hover {
      color: $P5;
      background-color: white;
    }

    &:active {
      background-color: $P4;
      color: white;
    }
  }
  .confirm {
    &:hover {
      text-decoration: underline;
    }
    &:active {
      background-color: $P3;
    }
  }
}

@media only screen and (min-width: 950px) {
  // .hidden {
  //   display: none !important;
  // }
}

@media only screen and (max-width: 950px) {
  .hide {
    display: none;
  }

  .page-title {
    font-size: 30px;
  }

  .schedule {
    width: 90%;
  }
}

@media only screen and (max-width: 750px) {
  .hide {
    display: none;
  }

  .schedule {
    width: auto;
  }
}
