@import "../styleVar/colorPalette.scss";
@import "./LecHomePage.scss";
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap");
// body {
//   background-color: rgb(246, 246, 246);
// }

// body {
//   background-color: #b482e68a;
// }
.booking-details {
  width: 80%;
  margin: auto;
  display: flex;
  // padding: 30px;
  // border-radius: 20px;

  // background-color: #ebdcf8;
  .details,
  .booking-form {
    padding: 50px;
    border-radius: 20px;
    border: none;

    h3 {
      // text-align: center;
      color: rgb(113, 113, 113);
      margin: 0 0 40px 0;
    }
    p {
      color: rgb(96, 96, 96);
      font-family: "Poppins", sans-serif;
      padding-bottom: 15px;

      span {
        display: inline-block;
        width: 30%;
        // margin-left: 10%;
      }
    }
  }

  .details {
    display: flex;
    flex-direction: column;
    margin-left: 50px;
  }

  .booking-form {
    background-color: rgba(241, 241, 241, 0.414);
    box-shadow: 5px 5px 5px 0px rgba(190, 190, 190, 0.407);

    @include inputs;
  }
}

.booking-buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  margin-top: 30px;

  button {
    width: 200px;
    height: 40px;
  }

  .change {
    &:hover {
      color: $P5;
      background-color: white;
    }

    &:active {
      background-color: $P4;
      color: white;
    }
  }
  .confirm {
    &:hover {
      text-decoration: underline;
    }
    &:active {
      background-color: $P3;
    }
  }
}

@media only screen and (min-width: 950px) {
  // .hidden {
  //   display: none !important;
  // }
}

@media only screen and (max-width: 950px) {
  .hide {
    display: none;
  }

  .page-title {
    font-size: 30px;
  }
}

@media only screen and (max-width: 750px) {
  .hide {
    display: none;
  }
}
