@import "../styleVar/colorPalette.scss";
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap");

.schedule {
  font-weight: 300;
  color: grey;
  width: 60%;
  margin: auto;

  text-align: center;
}

.booking-form {
  width: 80%;
  margin: auto;
  margin-top: 50px;
}

.colorcode {
  text-align: center;
  display: flex;
  justify-content: center;
  p {
    margin-right: 20px;
  }
}

.cell-color {
  background-color: $P5;
}
