@import "../styleVar/colorPalette.scss";

.login-container{
    position: absolute;
    // left: 20%;
    // right: 20%;
    // top: 15%;
    // bottom: 10%;
    width: 1182px;
    height: 580px;
    left: 10%;
    top: 15%;

    background: #FFFFFF;
    /* Shadow 2 */

    box-shadow: -8px 5px 60px rgba(0, 0, 0, 0.1);
    border-radius: 30px;
}

.login-container-content{
    position: absolute;
    width: 599px;
    height: 580px;
    left: 0;
    border-radius: 30px 0px 0px 30px;

    .login-hello{
        position: absolute;
        width: 322px;
        height: 86px;
        left: 74px;
        top: 68px;

        font-style: normal;
        font-weight: 400;
        font-size: 24px;
        line-height: 36px;
        display: flex;
        align-items: center;

        color: $P3;
    }

    .login-greeting{
        position: absolute;
        width: 322px;
        height: 86px;
        left: 74px;
        top: 100px;

        font-style: bold;
        font-weight: 800;
        font-size: 24px;
        line-height: 36px;
        display: flex;
        align-items: center;

        color: $P3;
    }

    .login-title{
        position: absolute;
        width: 264px;
        height: 54px;
        left: 160px;
        top: 180px;
        font-style: normal;
        font-weight: 500;
        font-size: 24px;
        line-height: 36px;
        display: flex;
        align-items: center;

        color: $P4;
    }
}

    .login-container-loginImg{
        position: absolute;
        width: 599px;
        height: 580px;
        left: 583px;

        background: radial-gradient(50% 50% at 50% 50%, #711DC4 0%, #5B189B 100%);
        border-radius: 0px 30px 30px 0px;

    img{
        position: absolute;
        width: 547px;
        height: 606px;
    }

}

.login-form{
    position: absolute;
    width: 358px;
    height: 60px;
    left: 104px;
    top: 260px;

    .login-up{
        color: $P5;
    }

    input{
        border: none;
        border-bottom: 2px solid $P5;
        color: $P4;
        width: 100%;
        font-size:16px;
    }

    .login-formblock{
        margin : 20px;
    }
}

.login-forgotpw{
    position: absolute;
    width: 358px;
    height: 60px;
    left: 320px;
    top: 410px;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 30px;
    display: flex;
    color: $P5;

}

.login-PagebtnWrapper{
    position: absolute;
    width: 150px;
    height: 58px;
    left: 120px;
    top: 210px;

    .login-Pagebtn{
        background: $P3;
        color: #fff;
        border: none;
        padding: 12px;
        font-size:18px;
        font-weight: 600;
        cursor: pointer;
        outline: inherit;
        width: 120px;
        border-radius:10px;
    }

    .login-Pagebtn:hover{
        background-color:$O;
    }
}