@import "../styleVar/colorPalette.scss";
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap");

.navbar-logo{
    color: #000000;
    justify-self: start;
    margin-left: 20px;
    cursor: pointer;
}
.NoticeBoard-title{
    font-family: "Poppins", sans-serif;
    font-size: 15px;
    font-weight: 15px;
    color: #ff5c55;
    // align-items: start;
    // position:relative;
    // display: flex;
    // flex-direction: row;   

}

.NoticeBoard{
  
 
        display: flex;
        // flex-direction: row;
        align-items: center;
        flex-direction: column;
        width: 100vw;
        height: 90vh;
        font-family: "Poppins", sans-serif;
        padding: 20px;
        color: #ff5c55;
      
}
#leftbox {
    float:left; 
    width:50%;
    height:70px;

}

#rightbox{
    float:right;
    width:50%;
    height:80px;
}


.header{
    font-family: "Poppins", sans-serif;
    font-size: 15px;
    font-weight: 50px;
    
    color: black;
   
}

.NoticeBoard-title .h1{
    align-items:flex-start;
}