@import "../styleVar/colorPalette.scss";
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap");


.NoticeInput button{
    background: $P3;
    color: #fff;
    border: none;
    padding: 10px;
    font-size:  13px;
    font-weight: 200;
    cursor: pointer;
    outline: inherit;
    width: 150px;
    border-radius:10px;
    align-self: center;
    font-family: "Poppins", sans-serif;
   
  }
  

  body{
    margin: 0%;
    padding: 0%;
    font-size: 15px;
    font-family: "Poppins", sans-serif;
   
    
    
  }


  .NoticeInput .header{

    border-color: purple;
    border:1px;
    background-color: white;
    padding-left: 20px;
    padding-right: 40px;
    padding-bottom: 20px;
    mix-blend-mode: normal;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    border-radius: 10px;
    width: auto;
    font-family: "Poppins", sans-serif;



  }
  .header .inputContainer {
    font-weight: 500;
    color: white;
    cursor: pointer;
    outline: inherit;
    width: 700px;
    font-family: "Poppins", sans-serif;
    font: size 15px;
    display: flex;
    flex-direction: column;
   

  }
  
  .header .InputTitle{
    padding: 5px;
    font-size: 18px;
    font-family: "Poppins", sans-serif;
  }

  .header input{

    width: 700px;
    height: 50px;
    border: 40px;
    background-color: #eed0ff;
    padding-top: 5px;
    padding-left: 10px;
    font-size: 17px;
    font-family: "Poppins", sans-serif;
    border: 1px solid #eed0ff;
    align-items: center;
    
  
  }

  .header .hr{
    
      border: 0.3px solid #000000;
      transform: rotate(0deg);
  }
