@import "../styleVar/colorPalette.scss";
.form-container{
    background-color: white;
    padding: 20px;
    margin: 100px;
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgba($color: #000000, $alpha: 0.4);
    display: flex;
}

.img{
    height: 400px;
    width: 400px;
}